<% if (successInfo.length> 0) { %>
    <div class="alert alert-success" role="alert">
        <%= successInfo %>
    </div>
    <% } %>
<% if (failedInfo.length> 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= failedInfo %>
    </div>
<% } %>