<% if (successInfo.length> 0) { %>
    <div class="alert alert-success" style="text-align: center;" role="alert">
        <%= successInfo %>
    </div>
    <% } %>
<% if (failedInfo.length> 0) { %>
    <div class="alert alert-danger" style="text-align: center;" role="alert">
        <%= failedInfo %>
    </div>
<% } %>