.rp {
  padding-top: 7px;
  padding-bottom: 7px;
}

body {
  margin-left: 14%;
  margin-right: 14%;
}

.foot {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin: 0px;
  padding-top: 5px;
}

.ava {
  display: flex;
  justify-content: flex-start;
}

.pp {
margin: 0px;
}

img.pp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.head {
  margin-top: 10px;
  background-color: #f2f2f2;
  padding: 10px 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  text-align: center;
  border: 1px solid #dee2e6;
}

.foot2 {
  background-color: #f2f2f2;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

form {
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

table {
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}

h1 {
  margin-bottom: 0px;
}

.preview {
  width: 300px;
  height: 300px;
}