<%- include('../partials/header') %>
    <div>
        <div class="head">
            <h1>Adding Data</h1>
        </div>
        <form action="" method="post">
            <div>
                <label for="name">Title</label>
                <input type="text" name="title" placeholder="Insert your title" required /><br>
            </div>
            <div class="foot2">
                <button type="submit" class="b5">Save</button><a href="/" class="btn">Back</a>
            </div>
        </form>
<%- include('../partials/footer') %>